{% liquid
  assign products_group = product.metafields.bls.product_grouped
%}

{%- if products_group == blank -%}
  <div class="bls__product-addons flex border-bottom pb-10 mb-25 flex-wrap">
    {% if bk_st.size_chart == '3' %}
      {% assign size = true %}
    {%- endif -%}
    {% if bk_st.size_chart != '1' and size %}
      <div class="product-information-buttons pr-30 pb-10">
        <a
          href="#size-guide"
          data-id="popup-size-guide"
          data-text="{{ 'products.product.size_guide' | t }}"
          class="bls__product_addons flex align-items-center open-popup-size-guide"
        >
          <svg
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M9.11538 0.5C4.96154 0.5 0.346154 3.26923 0 9.5C0 11.9231 0.923077 14.2308 2.65385 15.8462C4.38462 17.5769 6.69231 18.5 9 18.5C11.4231 18.5 13.7308 17.5769 15.3462 15.8462C17.0769 14.1154 18 11.8077 18 9.38461C17.8846 3.26923 13.2692 0.5 9.11538 0.5ZM9.11538 1.76923C11.1923 1.76923 13.1538 2.57692 14.5385 4.07692C15.1154 4.65385 15.5769 5.23077 15.9231 5.92308H2.30769C2.65385 5.23077 3.11538 4.53846 3.69231 4.07692C5.07692 2.57692 7.03846 1.76923 9.11538 1.76923ZM16.8462 9.5C16.7308 11.1154 16.3846 12.3846 15.8077 13.4231H15.3462V8.69231C15.3462 8.57692 15.3462 8.46154 15.2308 8.34615C15 8.11539 14.6538 8.11539 14.4231 8.34615C14.3077 8.46154 14.3077 8.57692 14.3077 8.69231V13.4231H12.5769V10.7692C12.5769 10.6538 12.4615 10.5385 12.4615 10.4231C12.2308 10.1923 11.8846 10.1923 11.6538 10.4231C11.5385 10.5385 11.5385 10.6538 11.5385 10.7692V13.4231H9.69231V8.69231C9.69231 8.57692 9.69231 8.46154 9.57692 8.34615C9.34615 8.11539 9 8.11539 8.76923 8.34615C8.65385 8.46154 8.53846 8.57692 8.53846 8.69231V13.4231H6.92308V10.7692C6.92308 10.6538 6.80769 10.5385 6.80769 10.4231C6.57692 10.1923 6.23077 10.1923 6 10.4231C5.88462 10.5385 5.76923 10.6538 5.76923 10.7692V13.4231H4.03846V8.69231C4.03846 8.57692 4.03846 8.46154 3.92308 8.34615C3.69231 8.11539 3.34615 8.11539 3.11538 8.34615C3 8.46154 3 8.57692 3 8.69231V13.4231H2.42308C1.84615 12.3846 1.5 11 1.38462 9.5C1.38462 8.69231 1.5 7.76923 1.84615 7.07692H16.5C16.7308 7.76923 16.8462 8.57692 16.8462 9.5ZM15 14.4615C13.5 16.3077 11.1923 17.1154 9.11538 17.1154C7.03846 17.1154 4.73077 16.3077 3.23077 14.4615H15Z" fill="#555555" />
          </svg>
          <span class="product-addons-text pl-10">{{ 'products.product.size_guide' | t }}</span>
        </a>
        <div id="popup-size-guide" class="d-none">
          <div class="product-sizechart-content bls_popup-content p-5">
            {% assign type_size_chart = bk_st.type_size_chart %}
            {%- case type_size_chart -%}
              {%- when '3' -%}
                {{ bk_st.text }}
              {%- when '2' -%}
                {% assign featured_image = bk_st.image %}
                {%- if featured_image != blank -%}
                  <img
                    srcset="
                      {%- if featured_image.width >= 165 -%}
                        {{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if featured_image.width >= 330 -%}
                        {{ featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                      {%- if featured_image.width >= 535 -%}
                        {{ featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if featured_image.width >= 750 -%}
                        {{ featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if featured_image.width >= 1000 -%}
                        {{ featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if featured_image.width >= 1500 -%}
                        {{ featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if featured_image.width >= 3000 -%}
                        {{ featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {{ featured_image | image_url }} {{ featured_image.width }}w
                    "
                    src="{{ featured_image | image_url: width: 1500 }}"
                    alt="{{ featured_image.alt }}"
                    height="{{ featured_image.height }}"
                    width="{{ featured_image.width }}"
                    loading="lazy"
                  >
                {%- else -%}
                  {%- render 'placeholder-render' | type: 'image' | cls: 'bls__collection-grid-plh' -%}
                {%- endif -%}
              {%- when '1' -%}
                {%- if bk_st.page != blank -%}
                  {{ pages[bk_st.page].content }}
                {%- endif -%}
            {%- endcase -%}
          </div>
        </div>
      </div>
    {% endif %}
    {% if bk_st.show_compare_color and color %}
      <div class="product-compare-color pr-30 pb-10">
        <a
          href="#compare-color"
          data-id="compare-color-popup"
          data-text="{{ 'products.product.compare_color' | t }}"
          class="bls__product_addons flex align-items-center link link-underline"
        >
          <svg
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6.60938 13.6414V17.2954H4.49972C3.13397 16.5052 1.99526 15.3665 1.20505 14.0008V11.8911H4.85905C5.27885 12.6166 5.88382 13.2216 6.60938 13.6414Z" fill="#09A1E5" />
            <path d="M4.85909 7.10891H1.20505V4.99926C1.99526 3.63351 3.134 2.4948 4.49972 1.70459H6.60938V5.35863C5.88386 5.77839 5.27889 6.38336 4.85909 7.10891Z" fill="#962B7C" />
            <path d="M11.3906 5.35863V1.70459H13.5003C14.866 2.4948 16.0047 3.63354 16.7949 4.99926V7.10891H13.1409C12.7211 6.3834 12.1162 5.77843 11.3906 5.35863Z" fill="#FF9259" />
            <path d="M9 14.2816L11.1094 16.391L9 18.5003C7.36038 18.5003 5.82332 18.0617 4.49937 17.2956L6.60902 13.6416C7.31239 14.0485 8.12897 14.2816 9 14.2816Z" fill="#3EC3FF" />
            <path d="M13.1409 11.8911H16.7949V14.0008C16.0047 15.3665 14.866 16.5052 13.5003 17.2954H11.9949L11.3906 13.6414C12.1161 13.2216 12.7211 12.6167 13.1409 11.8911Z" fill="#49B296" />
            <path d="M4.21939 9.5C4.21939 10.371 4.45244 11.1876 4.85938 11.8909L1.20534 14.0006C0.439285 12.6766 0.000640869 11.1396 0.000640869 9.5L2.11002 8.09375L4.21939 9.5Z" fill="#077CCC" />
            <path d="M11.3903 13.6416L13.5 17.2956C12.1761 18.0617 10.639 18.5003 8.9994 18.5003V14.2816C9.87043 14.2816 10.687 14.0485 11.3903 13.6416Z" fill="#2897B1" />
            <path d="M13.7813 9.5L15.8906 8.44531L18 9.5C18 11.1396 17.5614 12.6766 16.7953 14.0006L13.1413 11.891C13.5482 11.1876 13.7813 10.371 13.7813 9.5Z" fill="#89C247" />
            <path d="M4.21939 9.50014H0.000640869C0.000640869 7.86053 0.439285 6.3235 1.20534 4.99951L4.85938 7.10917C4.45244 7.81254 4.21939 8.62911 4.21939 9.50014Z" fill="#622876" />
            <path d="M6.60906 5.35873L4.4994 1.7047C5.82332 0.93868 7.36038 0.5 9 0.5L11.1094 2.60937L9 4.71875C8.12897 4.71875 7.31239 4.9518 6.60906 5.35873Z" fill="#CB2E81" />
            <path d="M8.99937 4.71875V0.5C10.639 0.5 12.1761 0.93868 13.5 1.7047L11.3903 5.35873C10.687 4.9518 9.8704 4.71875 8.99937 4.71875Z" fill="#FF5178" />
            <path d="M13.1413 7.1092L16.7953 4.99951C17.5614 6.3235 18 7.86053 18 9.50014H13.7813C13.7813 8.62911 13.5482 7.81254 13.1413 7.1092Z" fill="#FFD23B" />
          </svg>
          <span class="product-addons-text pl-10">
            {{ 'products.product.compare_color' | t }}
          </span>
        </a>
        <div id="compare-color-popup" class="d-none">
          <div class="compare-color-popup bls_popup-content bg-white">
            <div class="bls__compare-colors-swatch flex mb-25">
              {%- for option in product.options_with_values -%}
                {% if option.name == option_name %}
                  {%- for value in option.values -%}
                    {% liquid
                      for variant in product.variants
                        if variant.title contains value
                          assign variantImgSrc = variant.image.src | image_url: '480x480'
                          break
                        endif
                      endfor
                    %}
                    <div
                      class="bls__product-color-swatches bls__compare-color-btn bls_tooltip relative mr-10 {{ st.swatch_size }} {{ th_st.color_swatches_style }} bls__{{ value | downcase | replace: ' ', '-' }}"
                      data-value="{{ value }}"
                      data-ratio="{{ product_aspect_ratio }}"
                      data-color="{{ value | downcase }}"
                      data-image="{{ variantImgSrc }}"
                      style="background-color: {{ value | downcase }};"
                    >
                      <label class="bls__product-swatches">
                        <span class="bls_tooltip-content">{{ value }}</span>
                      </label>
                    </div>
                  {%- endfor -%}
                {% endif %}
              {%- endfor -%}
            </div>
            <div
              class="bls__compare-colors-list row flex-nowrap row-cols-2 row-cols-sm-3 row-cols-lg-4 overflow-auto scroll-bar-custom scroll-x"
              style="--bs-gutter-x: 1.5rem;"
            ></div>
            <div class="compare-color-empty">{{ 'products.product.compare_color_empty' | t }}</div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if bk_st.show_ask %}
      <div class="product-askquestion-button pr-30 pb-10">
        <a
          href="#ask-a-question"
          data-id="askquestion-popup"
          data-text="{{ 'products.product.askquestion' | t }}"
          class="bls__product_addons flex align-items-center open-askquestion-popup"
        >
          <svg
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M18 9.49041C18 8.87699 17.9425 8.27635 17.8274 7.68849C17.6994 7.10063 17.5203 6.53833 17.2899 6.0016C17.0725 5.46486 16.7974 4.95367 16.4649 4.46805C16.145 3.98242 15.7804 3.53514 15.3711 3.1262C14.9616 2.73002 14.5139 2.36581 14.0277 2.03355C13.5544 1.71406 13.0491 1.43929 12.5117 1.20927C11.9744 0.979237 11.4115 0.806709 10.823 0.691693C10.2346 0.563898 9.62687 0.5 9.00001 0.5C8.37315 0.5 7.76546 0.563898 7.17697 0.691693C6.58849 0.806709 6.02559 0.979237 5.48828 1.20927C4.95096 1.43929 4.44563 1.71406 3.97229 2.03355C3.48614 2.36581 3.03838 2.73002 2.629 3.1262C2.21962 3.53514 1.85502 3.98242 1.53518 4.46805C1.20256 4.95367 0.921108 5.46486 0.690834 6.0016C0.473347 6.53833 0.300639 7.10063 0.172708 7.68849C0.0575684 8.27635 0 8.87699 0 9.49041C0 10.1166 0.0575684 10.7236 0.172708 11.3115C0.300639 11.8994 0.473347 12.4617 0.690834 12.9984C0.921108 13.5352 1.20256 14.0464 1.53518 14.5319C1.85502 15.0048 2.21962 15.4457 2.629 15.8547C3.03838 16.2635 3.48614 16.6278 3.97229 16.9473C4.44563 17.2795 4.95096 17.5607 5.48828 17.7907C6.02559 18.0208 6.58849 18.1932 7.17697 18.3083C7.76546 18.4361 8.37315 18.5 9.00001 18.5C9.62687 18.5 10.2346 18.4361 10.823 18.3083C11.4115 18.1932 11.9744 18.0208 12.5117 17.7907C13.0491 17.5607 13.5544 17.2795 14.0277 16.9473C14.5139 16.6278 14.9616 16.2635 15.3711 15.8547C15.7804 15.4457 16.145 15.0048 16.4649 14.5319C16.7974 14.0464 17.0725 13.5352 17.2899 12.9984C17.5203 12.4617 17.6994 11.8994 17.8274 11.3115C17.9425 10.7236 18 10.1166 18 9.49041ZM16.3689 9.49041C16.3689 10.5128 16.177 11.4712 15.7931 12.3658C15.4094 13.2604 14.8849 14.0399 14.2197 14.7045C13.5416 15.369 12.7548 15.8929 11.8593 16.2764C10.9766 16.6597 10.0235 16.8514 9.00001 16.8514C7.97655 16.8514 7.01706 16.6597 6.12154 16.2764C5.23881 15.8929 4.45842 15.369 3.78039 14.7045C3.11514 14.0399 2.59061 13.2604 2.20683 12.3658C1.82303 11.4712 1.63113 10.5128 1.63113 9.49041C1.63113 8.48083 1.82303 7.52875 2.20683 6.63418C2.59061 5.73961 3.11514 4.96006 3.78039 4.29552C4.45842 3.63098 5.23881 3.10703 6.12154 2.72364C7.01706 2.32748 7.97655 2.12939 9.00001 2.12939C10.0235 2.12939 10.9766 2.32748 11.8593 2.72364C12.7548 3.10703 13.5416 3.63098 14.2197 4.29552C14.8849 4.96006 15.4094 5.73961 15.7931 6.63418C16.177 7.52875 16.3689 8.48083 16.3689 9.49041ZM7.38806 7.30511C7.46482 7.10063 7.57356 6.92172 7.71428 6.76836C7.86781 6.60223 8.04052 6.47444 8.23241 6.38499C8.41152 6.29552 8.60982 6.24441 8.82729 6.23162C9.04478 6.20606 9.26227 6.23162 9.47976 6.3083C9.67165 6.3722 9.83797 6.46805 9.97869 6.59585C10.1194 6.72363 10.2409 6.86421 10.3433 7.01757C10.4201 7.14536 10.4776 7.27955 10.516 7.42013C10.5544 7.5607 10.5736 7.70765 10.5736 7.86102C10.5736 7.92491 10.5608 7.98882 10.5352 8.05271C10.5224 8.11661 10.5032 8.1805 10.4776 8.24441C10.4392 8.3083 10.3945 8.37859 10.3433 8.45527C10.2921 8.51916 10.2346 8.58306 10.1706 8.64696C9.87634 8.94089 9.55012 9.16453 9.19191 9.31788C8.84648 9.47124 8.67378 9.54791 8.67378 9.54791C8.4563 9.61182 8.29638 9.746 8.19403 9.95047C8.09168 10.1549 8.0789 10.3594 8.15566 10.5639C8.23241 10.7811 8.36675 10.9409 8.55865 11.0431C8.76333 11.1454 8.97442 11.1581 9.19191 11.0815C9.19191 11.0815 9.43498 10.9792 9.92112 10.7747C10.4201 10.5575 10.8934 10.2316 11.3412 9.79712C11.4435 9.6821 11.5458 9.5607 11.6482 9.43289C11.7633 9.29232 11.8593 9.13897 11.936 8.97284C12.0256 8.8067 12.0896 8.63418 12.1279 8.45527C12.1791 8.26357 12.2047 8.06548 12.2047 7.86102C12.2047 7.55431 12.1663 7.26037 12.0896 6.97922C12.0128 6.69807 11.8977 6.42971 11.7441 6.17412C11.5522 5.85463 11.3092 5.57348 11.0149 5.33066C10.7335 5.08786 10.4009 4.90255 10.0171 4.77476C9.59489 4.6214 9.16632 4.5639 8.73134 4.60223C8.29638 4.62779 7.8934 4.73003 7.5224 4.90894C7.1386 5.08786 6.79958 5.33706 6.50534 5.65654C6.21109 5.97604 5.9936 6.34664 5.85288 6.76836C5.77612 6.98562 5.78252 7.19648 5.87207 7.40096C5.97442 7.60543 6.13433 7.746 6.35181 7.82268C6.5565 7.88658 6.7612 7.87379 6.96589 7.78434C7.17057 7.68211 7.31131 7.52235 7.38806 7.30511ZM9.00001 14.3977C9.23028 14.3977 9.42218 14.321 9.5757 14.1677C9.74202 14.0016 9.82517 13.8098 9.82517 13.5927C9.82517 13.3626 9.74202 13.1709 9.5757 13.0176C9.42218 12.8514 9.23028 12.7684 9.00001 12.7684C8.76973 12.7684 8.57143 12.8514 8.40512 13.0176C8.25161 13.1709 8.17485 13.3626 8.17485 13.5927C8.17485 13.8098 8.25161 14.0016 8.40512 14.1677C8.57143 14.321 8.76973 14.3977 9.00001 14.3977Z" fill="#515D66" />
          </svg>
          <span class="product-addons-text pl-10">{{ 'products.product.askquestion' | t }}</span>
        </a>
        <div id="askquestion-popup" class="d-none">
          <div class="askquestion-popup bls_popup-content p-5">
            {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
              <div class="contact__fields">
                <div class="row row-cols-md-2" style="--bs-gutter-x: 10px;">
                  <div class="field">
                    <input
                      class="field__input w-full"
                      autocomplete="name"
                      type="text"
                      id="ContactForm-name"
                      name="contact[{{ 'templates.contact.form.name' | t }}]"
                      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                      placeholder="{{ 'templates.contact.form.name' | t }}"
                      required
                    >
                  </div>
                  <div class="field">
                    <input
                      autocomplete="email"
                      type="email"
                      id="ContactForm-email"
                      class="field__input w-full col-12 col-lg-6"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder="{{ 'templates.contact.form.email' | t }}"
                      required
                    >
                  </div>
                  {%- if form.errors contains 'email' -%}
                    <small class="contact__field-error" id="ContactForm-email-error">
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                      <span class="form__message">
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="field">
                <input
                  type="tel"
                  id="ContactForm-phone"
                  class="field__input w-full"
                  autocomplete="tel"
                  name="contact[{{ 'templates.contact.form.phone' | t }}]"
                  pattern="[0-9\-]*"
                  value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  placeholder="{{ 'templates.contact.form.phone' | t }}"
                  required
                >
              </div>
              <div class="field">
                <textarea
                  rows="10"
                  id="ContactForm-body"
                  class="text-area field__input w-full"
                  name="contact[{{ 'templates.contact.form.comment' | t }}]"
                  placeholder="{{ 'templates.contact.form.comment' | t }}"
                  required
                >
                  {{- form.body -}}
                </textarea>
              </div>
              <div class="contact__button">
                <button type="submit" class="w-full mt-15">
                  {{ 'templates.contact.form.send' | t }}
                </button>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>
    {% endif %}
    {% if bk_st.show_share %}
      <div class="share-links pr-30 pb-10">
        <a
          href="#share"
          data-id="share-popup"
          data-text=""
          class="bls__product_addons flex align-items-center share-links-click"
        >
          <svg
            width="14"
            height="16"
            viewBox="0 0 14 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M9.8125 11.9062C9.82292 11.8854 9.82812 11.8698 9.82812 11.8594C9.83854 11.849 9.84896 11.8385 9.85938 11.8281C9.85938 11.8177 9.86458 11.8073 9.875 11.7969C9.88542 11.7865 9.89062 11.776 9.89062 11.7656C9.91146 11.724 9.9375 11.6875 9.96875 11.6562C10 11.625 10.0312 11.5938 10.0625 11.5625C10.1771 11.4375 10.3125 11.3438 10.4688 11.2812C10.6354 11.2083 10.8125 11.1719 11 11.1719C11.1875 11.1719 11.3594 11.2083 11.5156 11.2812C11.6823 11.3438 11.8229 11.4375 11.9375 11.5625C12.0625 11.6771 12.1562 11.8177 12.2188 11.9844C12.2917 12.1406 12.3281 12.3125 12.3281 12.5C12.3281 12.6875 12.2917 12.8646 12.2188 13.0312C12.1562 13.1875 12.0625 13.3229 11.9375 13.4375C11.8229 13.5625 11.6823 13.6615 11.5156 13.7344C11.3594 13.7969 11.1875 13.8281 11 13.8281C10.8125 13.8281 10.6354 13.7969 10.4688 13.7344C10.3125 13.6615 10.1771 13.5625 10.0625 13.4375C9.9375 13.3229 9.83854 13.1875 9.76562 13.0312C9.70312 12.8646 9.67188 12.6875 9.67188 12.5C9.67188 12.3958 9.68229 12.2917 9.70312 12.1875C9.72396 12.0833 9.76042 11.9896 9.8125 11.9062ZM9.875 3.875C9.86458 3.86458 9.85938 3.85938 9.85938 3.85938C9.85938 3.84896 9.85417 3.84375 9.84375 3.84375C9.84375 3.83333 9.83854 3.82812 9.82812 3.82812C9.82812 3.81771 9.82812 3.80729 9.82812 3.79688C9.77604 3.70312 9.73438 3.60417 9.70312 3.5C9.68229 3.39583 9.67188 3.28646 9.67188 3.17188C9.67188 2.98438 9.70312 2.8125 9.76562 2.65625C9.83854 2.48958 9.9375 2.34375 10.0625 2.21875C10.1771 2.10417 10.3125 2.01042 10.4688 1.9375C10.6354 1.86458 10.8125 1.82812 11 1.82812C11.1875 1.82812 11.3594 1.86458 11.5156 1.9375C11.6823 2.01042 11.8229 2.10417 11.9375 2.21875C12.0625 2.34375 12.1562 2.48958 12.2188 2.65625C12.2917 2.8125 12.3281 2.98438 12.3281 3.17188C12.3281 3.34896 12.2917 3.52083 12.2188 3.6875C12.1562 3.84375 12.0625 3.98438 11.9375 4.10938C11.8229 4.23438 11.6823 4.33333 11.5156 4.40625C11.3594 4.46875 11.1875 4.5 11 4.5C10.8125 4.5 10.6354 4.46875 10.4688 4.40625C10.3125 4.33333 10.1771 4.23438 10.0625 4.10938C10.0208 4.07812 9.98438 4.04167 9.95312 4C9.92188 3.95833 9.89583 3.91667 9.875 3.875ZM4.125 7.125C4.13542 7.13542 4.14062 7.14583 4.14062 7.15625C4.14062 7.15625 4.14583 7.15625 4.15625 7.15625C4.15625 7.16667 4.15625 7.17708 4.15625 7.1875C4.16667 7.1875 4.17188 7.19271 4.17188 7.20312C4.22396 7.29688 4.26042 7.39583 4.28125 7.5C4.3125 7.60417 4.32812 7.71354 4.32812 7.82812C4.32812 7.94271 4.3125 8.05729 4.28125 8.17188C4.26042 8.27604 4.22396 8.375 4.17188 8.46875C4.17188 8.47917 4.16667 8.48958 4.15625 8.5C4.14583 8.51042 4.14062 8.52083 4.14062 8.53125C4.14062 8.53125 4.13542 8.53125 4.125 8.53125C4.10417 8.58333 4.07812 8.63021 4.04688 8.67188C4.01562 8.70312 3.97917 8.73958 3.9375 8.78125C3.82292 8.89583 3.68229 8.98958 3.51562 9.0625C3.35938 9.13542 3.1875 9.17188 3 9.17188C2.8125 9.17188 2.63542 9.13542 2.46875 9.0625C2.3125 8.98958 2.17708 8.89583 2.0625 8.78125C1.9375 8.65625 1.83854 8.51562 1.76562 8.35938C1.70312 8.19271 1.67188 8.01562 1.67188 7.82812C1.67188 7.65104 1.70312 7.48438 1.76562 7.32812C1.83854 7.16146 1.9375 7.01562 2.0625 6.89062C2.17708 6.76562 2.3125 6.67188 2.46875 6.60938C2.63542 6.53646 2.8125 6.5 3 6.5C3.1875 6.5 3.35938 6.53646 3.51562 6.60938C3.68229 6.67188 3.82292 6.76562 3.9375 6.89062C3.97917 6.92188 4.01562 6.95833 4.04688 7C4.07812 7.04167 4.10417 7.08333 4.125 7.125ZM8.4375 3.89062L4.89062 5.95312C4.65104 5.71354 4.36458 5.52604 4.03125 5.39062C3.70833 5.24479 3.36458 5.17188 3 5.17188C2.63542 5.17188 2.28646 5.24479 1.95312 5.39062C1.63021 5.52604 1.34896 5.71354 1.10938 5.95312C0.869792 6.19271 0.677083 6.47396 0.53125 6.79688C0.395833 7.11979 0.328125 7.46354 0.328125 7.82812C0.328125 8.20312 0.395833 8.55208 0.53125 8.875C0.677083 9.19792 0.869792 9.47917 1.10938 9.71875C1.34896 9.95833 1.63021 10.151 1.95312 10.2969C2.28646 10.4323 2.63542 10.5 3 10.5C3.36458 10.5 3.70833 10.4323 4.03125 10.2969C4.36458 10.151 4.65104 9.95833 4.89062 9.71875C4.89062 9.71875 4.89062 9.71354 4.89062 9.70312L8.4375 11.7656C8.40625 11.8906 8.38021 12.0156 8.35938 12.1406C8.33854 12.2552 8.32812 12.375 8.32812 12.5C8.32812 12.8646 8.39583 13.2135 8.53125 13.5469C8.67708 13.8698 8.86979 14.151 9.10938 14.3906C9.34896 14.6302 9.63021 14.8177 9.95312 14.9531C10.2865 15.099 10.6354 15.1719 11 15.1719C11.3646 15.1719 11.7083 15.099 12.0312 14.9531C12.3646 14.8177 12.651 14.6302 12.8906 14.3906C13.1302 14.151 13.3177 13.8698 13.4531 13.5469C13.599 13.2135 13.6719 12.8646 13.6719 12.5C13.6719 12.1354 13.599 11.7917 13.4531 11.4688C13.3177 11.1354 13.1302 10.849 12.8906 10.6094C12.651 10.3698 12.3646 10.1823 12.0312 10.0469C11.7083 9.90104 11.3646 9.82812 11 9.82812C10.6354 9.82812 10.2865 9.90104 9.95312 10.0469C9.63021 10.1823 9.34896 10.3698 9.10938 10.6094C9.10938 10.6094 9.10938 10.6146 9.10938 10.625L5.5625 8.5625C5.59375 8.44792 5.61979 8.32812 5.64062 8.20312C5.66146 8.07812 5.67188 7.95312 5.67188 7.82812C5.67188 7.70312 5.66146 7.58333 5.64062 7.46875C5.61979 7.34375 5.59375 7.22396 5.5625 7.10938L9.10938 5.04688C9.34896 5.28646 9.63021 5.47917 9.95312 5.625C10.2865 5.76042 10.6354 5.82812 11 5.82812C11.3646 5.82812 11.7083 5.76042 12.0312 5.625C12.3646 5.47917 12.651 5.28646 12.8906 5.04688C13.1302 4.80729 13.3177 4.52604 13.4531 4.20312C13.599 3.88021 13.6719 3.53646 13.6719 3.17188C13.6719 2.79688 13.599 2.44792 13.4531 2.125C13.3177 1.80208 13.1302 1.52083 12.8906 1.28125C12.651 1.04167 12.3646 0.854167 12.0312 0.71875C11.7083 0.572917 11.3646 0.5 11 0.5C10.6354 0.5 10.2865 0.572917 9.95312 0.71875C9.63021 0.854167 9.34896 1.04167 9.10938 1.28125C8.86979 1.52083 8.67708 1.80208 8.53125 2.125C8.39583 2.44792 8.32812 2.79688 8.32812 3.17188C8.32812 3.29688 8.33854 3.42188 8.35938 3.54688C8.38021 3.66146 8.40625 3.77604 8.4375 3.89062Z" fill="#555555" />
          </svg>
          <span class="product-addons-text pl-10">{{ 'products.product.share' | t }}</span>
        </a>
        <div id="share-popup" class="d-none">
          <div class="share-popup bls_popup-content p-5 border-none">
            <div class="form-control mb-20" ->
              <label class="heading-color heading-weight fs-18 d-block mb-7 pointer">
                {{- 'general.social.alt_text.copy_link' | t -}}
              </label>
              <div class="flex">
                <input
                  id="share-popup-input"
                  type="text"
                  class="heading_color flex-1"
                  readonly=""
                  disabled=""
                  value="{{ canonical_url }}"
                >
                <button class="bls__share-copy btn-primary ml-10 p-0 height-45 width-45 width-lg-50 height-lg-50 inline-flex content-center btn-reset">
                  <svg
                    width="11"
                    height="14"
                    viewBox="0 0 11 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="active-hide"
                  >
                    <path d="M1.5 2H7.5C7.89769 2.00044 8.27897 2.15861 8.56018 2.43982C8.84139 2.72103 8.99956 3.10231 9 3.5V12.5C8.99956 12.8977 8.84139 13.279 8.56018 13.5602C8.27897 13.8414 7.89769 13.9996 7.5 14H1.5C1.10231 13.9996 0.721032 13.8414 0.439822 13.5602C0.158612 13.279 0.000436783 12.8977 0 12.5V3.5C0.000436783 3.10231 0.158612 2.72103 0.439822 2.43982C0.721032 2.15861 1.10231 2.00044 1.5 2ZM1 12.5C1.00012 12.6326 1.05284 12.7597 1.14658 12.8534C1.24032 12.9472 1.36743 12.9999 1.5 13H7.5C7.63257 12.9999 7.75968 12.9472 7.85342 12.8534C7.94716 12.7597 7.99988 12.6326 8 12.5V3.5C7.99988 3.36743 7.94716 3.24032 7.85342 3.14658C7.75968 3.05284 7.63257 3.00012 7.5 3H1.5C1.36743 3.00012 1.24032 3.05284 1.14658 3.14658C1.05284 3.24032 1.00012 3.36743 1 3.5V12.5Z" fill="white" />
                    <path d="M3 1C2.86739 1 2.74021 0.947322 2.64645 0.853553C2.55268 0.759785 2.5 0.632608 2.5 0.5C2.5 0.367392 2.55268 0.240215 2.64645 0.146447C2.74021 0.0526784 2.86739 0 3 0H8.5C9.1628 0.000780725 9.79823 0.264423 10.2669 0.733095C10.7356 1.20177 10.9992 1.8372 11 2.5V11C11 11.1326 10.9473 11.2598 10.8536 11.3536C10.7598 11.4473 10.6326 11.5 10.5 11.5C10.3674 11.5 10.2402 11.4473 10.1464 11.3536C10.0527 11.2598 10 11.1326 10 11V2.5C9.99956 2.10231 9.84139 1.72103 9.56018 1.43982C9.27897 1.15861 8.89769 1.00044 8.5 1H3Z" fill="white" />
                  </svg>
                  <svg
                    width="16"
                    height="12"
                    viewBox="0 0 16 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="active-show"
                  >
                    <path d="M5.5 9.17578L14.3281 0.308594L15.5 1.48047L5.5 11.4805L0.851562 6.83203L1.98438 5.66016L5.5 9.17578Z" fill="#fff" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="share-dialog">
              <label class="heading-color heading-weight d-block mb-7">
                {{- 'products.product.share' | t -}}
              </label>
              <div class="share-list">
                <a
                  class="bls_tooltip inline-block mr-5"
                  href="#"
                  onclick=" window.open( 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=436,height=436'); return false;"
                >
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="20"
                      cy="20"
                      r="19.5"
                      fill="white"
                      stroke="#555555" />
                    <path d="M18.3334 16.6667V18H17V20H18.3334V26H21V20H22.7734L23 18H21V16.8334C21 16.2934 21.0533 16.0067 21.8866 16.0067H23V14H21.2134C19.08 14.0001 18.3334 15 18.3334 16.6667Z" fill="#555555" />
                  </svg>
                  <span class="bls_tooltip-content no-wrap">
                    {{- 'general.social.links.facebook' | t -}}
                  </span>
                </a>
                <a
                  class="bls_tooltip inline-block mr-5"
                  href="#"
                  onclick=" window.open( 'http://twitter.com/home/?status='+encodeURIComponent(location.href), 'twitter-share-dialog', 'width=436,height=436'); return false;"
                >
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="20"
                      cy="20"
                      r="19.5"
                      fill="white"
                      stroke="#555555" />
                    <path d="M25.6699 15.1753C25.1855 15.4746 24.656 15.6861 24.1039 15.801C23.6347 15.2878 22.9839 14.9982 22.3039 15.0001C20.9645 14.9896 19.8669 16.1062 19.8439 17.5028C19.8445 17.6967 19.8666 17.8899 19.9099 18.0785C17.9372 17.9814 16.0949 17.023 14.8339 15.4381C14.6182 15.8171 14.5023 16.2488 14.4979 16.6895C14.498 17.5392 14.9115 18.3309 15.596 18.7918C15.2051 18.7786 14.8227 18.6692 14.4799 18.4727C14.4799 18.4727 14.4799 18.4727 14.4799 18.504C14.476 19.7244 15.3048 20.7753 16.454 21.0068C16.0917 21.1075 15.7124 21.1224 15.344 21.0506C15.6753 22.0844 16.5968 22.787 17.642 22.8026C16.7719 23.5081 15.7021 23.8932 14.6 23.8975C14.3995 23.8973 14.1991 23.8848 14 23.86C15.1291 24.6048 16.4379 24.9998 17.774 24.9988C21.5841 25.0714 24.7292 21.9092 24.7989 17.9359C24.7996 17.8938 24.8 17.8517 24.8 17.8095C24.8 17.701 24.8 17.5926 24.8 17.4841C25.2702 17.1247 25.6764 16.6821 26 16.1764C25.5496 16.3821 25.0724 16.517 24.584 16.5769C25.0976 16.2633 25.4838 15.7649 25.6699 15.1753Z" fill="#555555" />
                  </svg>
                  <span class="bls_tooltip-content no-wrap">
                    {{- 'general.social.links.twitter' | t -}}
                  </span>
                </a>
                <a
                  class="bls_tooltip inline-block mr-5"
                  href="#"
                  onclick=" window.open( 'http://pinterest.com/pin/create/button/?url='+encodeURIComponent(location.href), 'pinterest-share-dialog', 'width=436,height=436'); return false;"
                >
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="20"
                      cy="20"
                      r="19.5"
                      fill="white"
                      stroke="#555555" />
                    <path d="M19.8517 14.001L19.0501 14.0967C18.5464 14.1872 18.0577 14.3421 17.5972 14.5573C16.5464 15.0853 15.7207 15.946 15.2613 16.9918C15.1994 17.1879 15.1513 17.3877 15.1173 17.5899C14.7663 18.7809 15.2194 20.0554 16.2571 20.796C16.4136 20.8857 16.7768 21.0533 16.8833 20.8319C16.9323 20.6962 16.966 20.5558 16.9835 20.4132C17.0439 20.2934 17.078 20.1632 17.0837 20.0304C17.0461 19.833 16.8269 19.7134 16.733 19.5519C16.5786 19.2263 16.4813 18.8787 16.4449 18.523V18.3495C16.4914 16.881 17.5697 15.6275 19.0689 15.299C19.5379 15.1779 20.0268 15.1434 20.5093 15.1973L21.2044 15.3109C21.9989 15.5091 22.6558 16.0418 22.9892 16.7585C23.2078 17.3726 23.2511 18.0312 23.1145 18.6666C23.0456 18.9417 23.0581 19.181 22.9704 19.4322C22.651 20.3594 22.1814 21.2267 21.123 21.454C20.5474 21.5977 19.9496 21.3109 19.7265 20.7841C19.6471 20.6239 19.6188 20.4451 19.6451 20.2697C19.8267 19.516 20.096 18.846 20.2713 18.0924C20.4873 17.5347 20.1892 16.9154 19.6053 16.709C19.5752 16.6983 19.5445 16.6889 19.5135 16.6808C18.7871 16.5133 18.2297 17.1593 18.0356 17.578C17.8541 18.0214 17.8106 18.5053 17.9104 18.9717C18.0161 19.1741 18.0919 19.3895 18.1358 19.6117C17.998 20.2099 17.8352 20.8081 17.6661 21.4062C17.497 22.0043 17.3906 22.6025 17.2152 23.2007C17.1338 23.4638 17.1401 23.745 17.0712 24.0201V24.4209C17.0278 24.7379 17.0427 25.0598 17.1151 25.3719C17.1527 25.5335 17.1151 25.7309 17.1777 25.8505C17.175 25.9035 17.1904 25.956 17.2216 26C17.4784 26 17.8478 25.348 17.9606 25.1626C18.2045 24.792 18.4141 24.4017 18.5868 23.9962C18.7559 23.6193 18.7809 23.2007 18.9125 22.7999C19.045 22.4697 19.1395 22.1267 19.1942 21.777C19.2755 21.9468 19.4116 22.0873 19.5825 22.1778C20.1837 22.5839 20.9362 22.7293 21.6554 22.5785C22.5299 22.4163 23.3156 21.9626 23.8723 21.2985C24.2508 20.8066 24.5427 20.2591 24.7365 19.6774C24.843 19.3784 24.8618 19.0434 24.9432 18.7264C25.0781 17.9505 24.9714 17.1539 24.6363 16.4355C23.9161 14.8743 22.3505 13.9651 19.8517 14.001Z" fill="#555555" />
                  </svg>
                  <span class="bls_tooltip-content no-wrap">
                    {{- 'general.social.links.pinterest' | t -}}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{%- endif -%}
