{%- liquid
  assign th_st = settings
  assign header_layout = th_st.header_layout
  assign container = th_st.container
  assign transparent = th_st.enable_transparent_header
  assign transparent_topbar = th_st.enable_transparent_header_topbar
  assign top_search = th_st.show_top_search
  assign color_scheme = th_st.color_scheme_header
  assign my_account = th_st.show_my_account
  assign wishlist = th_st.show_wishlist_icon
  assign minicart = th_st.show_minicart
  assign recently_viewed = th_st.show_recently_viewed
  assign enable_sticky = th_st.sticky_header
  assign show_country = th_st.show_country
  assign show_language = th_st.show_language
  assign sticky_mobile = th_st.sticky_header_mobile
  assign transparent_class = ''
  if template.name == 'index' and transparent or template.name == 'index' and transparent_topbar
    assign transparent_class = 'transparent'
  endif
  assign transparent_topbar_class = ''
  if template.name == 'index' and transparent_topbar
    assign transparent_topbar_class = 'transparent-topbar'
  endif
-%}

{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}

<!doctype html>
<html class="no-js{% if enable_rtl %} body-rtl{% endif %}" lang="{{ iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{ 'popup.css' | asset_url | stylesheet_tag }}
    {{ 'dropdown.css' | asset_url | stylesheet_tag }}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <meta name="description" content="{{ page_description | default: shop.description | default: shop.name | escape }}">
    {% render 'meta-tags' %}
    {{ content_for_header }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {%- render 'head-assets' -%}

    {{ shop.metafields.loox.global_html_head }}
  </head>
  <body class="gradient {% if template.name == 'collection' %}template-collection{% endif %}{% if template.name == 'product' %}template-product {% endif %}{% if template.name == 'index' %}template-index{% endif %} {%- if settings.general_layout == 'boxed' -%}box-layout{% elsif settings.general_layout == 'full_width' %}full-width-layout{% else %}{%- endif -%} {% if settings.content_center %}item-center{% endif %} product-images-style-{{ settings.product_images_style }} {% if template.suffix contains 'layout-2' %}product-digital-layout-2{% endif %}">
    {{ shop.metafields.loox.global_html_body }}
  </body>
</html>
