{{ 'age-verify.css' | asset_url | stylesheet_tag }}
{% liquid
  assign logo_svg = settings.logo_svg
  assign logo_image = settings.logo_image_desktop
  assign logo_width = settings.logo_width_desktop
  assign logo_width_mb = settings.logo_width_mobile
%}
<age-verifier
  class="gradient color-{{ section.settings.color_scheme }} bls__section d-flex content-center fixed w-full h-full top-0 left-0 overflow-auto bg-default"
  data-enable-design-mode="{{ section.settings.show_on_design }}"
  style="--content-bg: {{ section.settings.content_background }}"
>
  <div
    class="age-outline-focus-none age-verify-detail d-none relative z-3 bg-default padding-inner overflow-y-auto text-center"
    tabindex="0"
  >
    {% if section.settings.show_logo %}
      {%- if logo_svg != blank -%}
        <div class="logo_svg d-none-mb d-flex justify-content-center mx-auto mb-20" style="width: {{ logo_width }}px">
          {{ logo_svg }}
        </div>
        <div class="logo_svg d-none-desktop" style="width: {{ logo_width_mb }}px">
          {{ logo_svg }}
        </div>
      {%- elsif logo_image != blank -%}
        {%- assign logo_height = logo_width | divided_by: logo_image.aspect_ratio | round -%}
        <span class="d-none-mb d-flex justify-content-center mb-20">
          <img
            srcset="
              {%- if logo_image.width >= 165 -%}
                {{ logo_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if logo_image.width >= 330 -%}
                {{ logo_image | image_url: width: 330 }} 330w,{%- endif -%}
              {%- if logo_image.width >= 535 -%}
                {{ logo_image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if logo_image.width >= 750 -%}
                {{ logo_image | image_url: width: 750 }} 750w,{%- endif -%}
              {{ logo_image | image_url }} {{ logo_image.width }}w
            "
            src="{{ logo_image | image_url: width: 330 }}"
            sizes="{{ logo_width }}px"
            loading="lazy"
            width="{{ logo_width }}"
            height="{{ logo_height }}"
            alt="{{ logo_height.alt | default: shop.name | escape }}"
            style="width: {{ logo_width }}px"
          >
        </span>
        {%- liquid
          assign logo_image_mb = settings.logo_image_mobile | default: settings.logo_image_desktop
          assign logo_height_mb = logo_width_mb | divided_by: logo_image_mb.aspect_ratio | round
        -%}
        <img
          srcset="
            {%- if logo_image_mb.width >= 165 -%}
              {{ logo_image_mb | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if logo_image_mb.width >= 330 -%}
              {{ logo_image_mb | image_url: width: 330 }} 330w,{%- endif -%}
            {%- if logo_image_mb.width >= 535 -%}
              {{ logo_image_mb | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if logo_image_mb.width >= 750 -%}
              {{ logo_image_mb | image_url: width: 750 }} 750w,{%- endif -%}
            {{ logo_image_mb | image_url }} {{ logo_image_mb.width }}w
          "
          src="{{ logo_image_mb | image_url: width: 330 }}"
          class="d-none-desktop mb-20"
          loading="lazy"
          sizes="{{ logo_width_mb }}px"
          width="{{ logo_width_mb }}"
          height="{{ logo_height_mb }}"
          alt="{{ logo_image_mb.alt | default: shop.name | escape }}"
          style="width: {{ logo_width_mb }}px"
        >
      {%- endif -%}
    {% endif %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2
            class="heading-letter-spacing banner__heading mt-0 mb-20"
            {{ block.shopify_attributes }}
          >
            <span>{{ block.settings.heading }}</span>
          </h2>
        {%- when 'description' -%}
          <div
            class="banner__text mb-20 last-0"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.description }}
          </div>
        {%- when 'button' -%}
          {%- if block.settings.button_decline != blank or block.settings.button_approve != blank -%}
            <div class="age-button-wrapper d-flex mt-30 gap-10 flex-wrap justify-content-center">
              {%- if block.settings.button_decline != blank -%}
                <button
                  class="btn-secondary age-verifier-decline"
                  aria-label="{{ block.settings.button_decline }}"
                >
                  {{ block.settings.button_decline }}
                </button>
              {%- endif -%}
              {%- if block.settings.button_approve != blank -%}
                <button class="btn-primary age-verifier-approve" aria-label="{{ block.settings.button_approve }}">
                  {{ block.settings.button_approve }}
                </button>
              {%- endif -%}
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div
    class="age-outline-focus-none decline-verify-detail d-none relative z-3 padding-inner overflow-y-auto text-center"
    tabindex="0"
  >
    <h2
      class="banner__heading mt-0"
    >
      <span>{{ section.settings.decline_heading }}</span>
    </h2>
    <div
      class="banner__text"
    >
      {{ section.settings.decline_text }}
    </div>
    <button class="button mt-30 btn age-verifier-return" aria-label="{{ section.settings.button_return }}">
      {{ section.settings.button_return }}
    </button>
  </div>
</age-verifier>

{% schema %}
{
  "name": "Age verifier popup",
  "tag": "section",
  "class": "overlay-section overlay-age-verifier",
  "enabled_on": {
    "groups": ["aside", "footer", "header"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "checkbox",
      "id": "show_on_design",
      "label": "Show on design mode",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color schema"
    },
    {
      "type": "color",
      "id": "content_background",
      "label": "Content background color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show logo",
      "default": false
    },
    {
      "type": "header",
      "content": "Decline content"
    },
    {
      "type": "paragraph",
      "content": "This information will be visible if the user does not meet the age verification criteria."
    },
    {
      "type": "text",
      "id": "decline_heading",
      "label": "Heading",
      "default": "Come back when you're older"
    },
    {
      "type": "richtext",
      "id": "decline_text",
      "label": "Text",
      "default": "<p>Sorry, the content of this store can't be seen by a younger audience. Come back when you're older.</p>"
    },
    {
      "type": "text",
      "id": "button_return",
      "label": "Return button text",
      "default": "Oops, I entered incorrectly"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Content setting",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Welcome to FS!",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>You must be 18 years of age or older to view page. Please verify your age to enter.</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_decline",
          "default": "No, I'm not",
          "label": "Decline button label"
        },
        {
          "type": "text",
          "id": "button_approve",
          "default": "Yes, I am",
          "label": "Approve button label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Age verifier popup",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
